@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body{
    margin: 0;
    position: fixed;
}

#scorebox{
    position: fixed;
    color: #00cc66;
    font-size: 26px;
    margin-top: 25px;
    margin-left: 25px;
    user-select: none;
    font-family: 'Monoton', cursive;
}

#highscore{
    position: fixed;
    color: #00cc66;
    font-size: 26px;
    margin-top: 65px;
    margin-left: 25px;
    user-select: none;
    font-family: 'Monoton', cursive;
}

#track,#trackhigh{
    margin-left: 10px;
    color: white;
}

#button1{

    background: none;
    height: 65px;
    width: 65px;
    display: block;
    position: absolute; 
    right: 25px;
    margin-top: 25px;
    border: none;
    
}


#soundImage{
    background: no-repeat;
    height: 65px;
    width: 65px;
    display: block;
    position: absolute; 
    right: 25px;
    user-select: none;
    margin-top: 25px;
    transform: scale(0.6);
}

a{
    position: fixed;
    user-select: none;
    text-decoration: none;
    color:whitesmoke;
    font-size: 30px;
    font-weight:500;
    margin-top: 600px;
    margin-left: 30px;
    user-select: none;
    font-family: 'Monoton', cursive;
}